@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

html{
  scroll-behavior: smooth;

}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

body {
 @apply bg-slate-300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-text {
  @apply text-slate-900 text-4xl font-extrabold ;
}


.card_about{
  @apply  h-fit sm:h-auto w-fit md:w-[672px] flex flex-wrap
 }
 
 .small_card{
  @apply flex gap-2 break-words p-3  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30 border-none w-fit sm:w-80 h-20 break-words
 }
 .card_container{
   @apply p-2 break-words 
 }
 .card_header{
   @apply mb-2 sm:text-2xl text-lg font-bold border-b-2 border-spacing-2 
 }
 .icon{
  
   @apply h-9 w-9 font-bold p-0 m-0;
 }
 

 .swiper {
  width: 700px;
  height: auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
